@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2"), url("../fonts/IBMPlexSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-BoldItalic.woff2") format("woff2"), url("../fonts/IBMPlexSans-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-ExtraLight.woff2") format("woff2"), url("../fonts/IBMPlexSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/IBMPlexSans-ExtraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Italic.woff2") format("woff2"), url("../fonts/IBMPlexSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2"), url("../fonts/IBMPlexSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-LightItalic.woff2") format("woff2"), url("../fonts/IBMPlexSans-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"), url("../fonts/IBMPlexSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-MediumItalic.woff2") format("woff2"), url("../fonts/IBMPlexSans-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/IBMPlexSans-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Thin.woff2") format("woff2"), url("../fonts/IBMPlexSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-ThinItalic.woff2") format("woff2"), url("../fonts/IBMPlexSans-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url("../fonts/IBMPlexSans.woff2") format("woff2"), url("../fonts/IBMPlexSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "IBMPlexSans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "IBMPlexSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #efeff6;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 1.25rem;
}

.header {
  padding: 1.25rem 0rem;
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 9.6875rem;
  margin-right: auto;
}

.header__logo img {
  width: 100%;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__name {
  margin-right: 1.25rem;
  white-space: nowrap;
}

.header__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 2.5rem;
          flex: 1 0 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.header__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.left-menu {
  background-color: #0e0c28;
  padding: 1.25rem 2.5rem;
}

.left-menu__label {
  color: #a4aadb;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
}

.left-menu__list {
  margin-top: 1.25rem;
}

.left-menu__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.left-menu__link {
  color: #7a80b4;
  white-space: nowrap;
  font-size: 1.125rem;
}

.content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 1.25rem;
  color: #71748d;
}

.content__title {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #000;
}

.content__subtitle {
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
}

.content__descr {
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}

.content__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__line:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content__label {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.content__input {
  height: 2.1875rem;
  padding: 0rem 0.9375rem;
  color: #71748d;
  font-size: 1rem;
  border: 0.0625rem solid #d2d2e4;
  border-radius: 0.125rem;
}

.content__textarea {
  padding: 0.625rem 0.9375rem;
  color: #71748d;
  font-size: 1rem;
  border: 0.0625rem solid #d2d2e4;
  border-radius: 0.125rem;
  height: 7.5rem;
  resize: none;
}

.content__btn {
  color: #2ec551;
  background: transparent;
  font-size: 0.875rem;
  border-radius: 0.125rem;
  padding: 0.625rem 3.125rem;
  border: 0.0625rem solid;
}

@media (min-width: 61.99875em) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding: 0.625rem 0rem;
  }

  .header__logo {
    max-width: 8.125rem;
  }

  .header__name {
    display: none;
  }

  .left-menu {
    padding: 0.9375rem 1.25rem;
  }

  .left-menu__label {
    font-size: 1rem;
  }

  .left-menu__item:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .left-menu__link {
    font-size: 1rem;
  }

  .content__title {
    font-size: 1.25rem;
  }

  .content__subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 29.99875em) {
  .content__textarea {
    height: 9.375rem;
  }

  .content__btn {
    width: 100%;
  }
}